.card-text{
    display: flex;
    justify-content: space-between;
}
.card-title{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    border-bottom: 1px solid black; 
}